.App {
  text-align: center;
  width: 350px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(180deg, #00c1ff, #0068ff);
}

.frontPageLogo {
  width: 80%;
  border-radius: 10px;
}

button.frontPageButton {
  width: 90%;
  margin-top: 20px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  border-radius: 10px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

button.frontPageButton:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 40px rgba(255, 255, 255, 0.7) inset;
}

.frontPageBottom {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  gap: 5px;
}

.frontPageBottom:hover {
  cursor: pointer;
  color: gray;
}

.textArea {
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
  padding: 10px !important;
  color: #f9f9f9 !important;
  font-size: 1rem !important;
  width: 310px !important;
  min-height: 160px !important;
  margin-top: 30px !important;
}


h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #f9f9f9;
}

.h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.h4 {
  color: #f9f9f9;
  padding-bottom: 30px;
}

a:visited {
  color: blue;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  color: #40f7f7;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

.subtitle {
  color: #1160b4;
  font-family: sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
}

.headerLogo {
  height: 20px;
  margin-left: 40px;
}

.dropdown {
  /* background: rgba(255, 255, 255, 0.2) !important; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(180deg, #00c1ff, #0068ff);
  border-radius: 10px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
  padding: 4px !important;
  color: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(180deg, #00c1ff, #0068ff) !important;
  font-size: 1rem !important;
  /* width: 100px !important; */
  margin-right: 20px !important;
  margin-top: 10px !important;
} 

.content {
  text-align: center;
  width: 350px;
  height: 520px;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mnemonic {
  color: #faad14;
  background: #fffbe6;
  border: 1px solid #ffe58f;
  border-radius: 10px;
  padding: 5px;
  text-align: justify;
  width: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.seedPhraseContainer {
  width: 310px;
  min-height: 160px;
  padding: 5px;
  margin-top: 30px;
}

.walletName {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f9f9f9;
}

.logoutButton {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 20px;
  top: 5px;
  border-radius: 100px;
  background-color: #ffffff;
  color: #00bfff;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logoutButton:hover {
  background-color: #00bfff;
  color: #ffffff;
}


.walletView {
  width: 350px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  color:#f9f9f9;
  font-weight: 600;
}

.sendRow {
  margin-bottom: 10px !important;
  display: flex !important;
  justify-content: flex-start !important;
  gap: 10px !important;
  align-items: center !important;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.sendRow p {
  width: 90px;
  text-align: left;
  margin: 0;
}

.sendRow input {
  flex: 1;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #f9f9f9;
  width: 100%;
}

.sendRow input:focus {
  border-color: white;
  outline: none;
}

.sendRow input::placeholder {
  color: #f9f9f9; 
}

.sendInput {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  color: #f9f9f9;
}

.sendInput:focus {
  border-color: white;
  outline: none;
}

.sendTokensButton {
  width: 150px !important;
  background: linear-gradient(45deg, #1792ff, #0e68c7) !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  transition: background 0.3s, box-shadow 0.3s !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08) !important;
}

.sendTokensButton:hover {
  background: linear-gradient(45deg, #0e68c7, #1792ff) !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.12) !important;
}

.sendTokensButton:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08) !important;
  animation: glowing 1s infinite !important;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #1792ff, 0 0 10px #1792ff, 0 0 20px #1792ff, 0 0 30px #1792ff !important;
  }
  50% {
    box-shadow: 0 0 5px #1792ff, 0 0 10px #1792ff, 0 0 20px #1792ff, 0 0 30px #1792ff, 0 0 40px #1792ff !important;
  }
  100% {
    box-shadow: 0 0 5px #1792ff, 0 0 10px #1792ff, 0 0 20px #1792ff, 0 0 30px #1792ff !important;
  }
}

.sendTokensButton.sending {
  position: relative !important;
}

.sendTokensButton.sending > span {
  visibility: hidden !important;
}

.sendTokensButton.sending > .ant-spin {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.processingContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 10px !important;
}

.processingContainer p {
  margin-left: 5px !important;
  font-size: 14px !important;
  color: #f9f9f9 !important;
}

.nftImage {
  margin-bottom: 10px !important;
  height: 240px !important;
  width: 240px !important;
  object-fit: cover !important;
  border-radius: 10px !important;
}
